.myMasonryGrid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
  max-width: 1400px;
  margin: auto;
  margin-left: -30px; /* gutter size offset */
}

@media (min-width: 1400px) {
  .myMasonryGrid {
    margin: auto;
  }
}

.myMasonryGridColumn {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.myMasonryGridColumn:first-child {
  //margin-left: -30px;
}

/* Style your items */
.nextImage {
  /* change div to reference your elements you put in <Masonry> */
  margin: auto;
  border-radius: 15px;
  border: 1px solid #eaeaea;
  width: 100%;
  object-fit: cover;
}

body.dark .nextImage {
  background-color: red;
}

body

/* Image and overlay styles for the masonry grid items */
/* Container needed to position the overlay. Adjust the width as needed */
.imageContainer {
  position: relative;
  margin-bottom: 2rem;
  border-radius: 15px;
}

.imageContainer > div:first-child {
  position: static !important;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.imageContainer:hover .overlay {
  opacity: 1;
}

/* Image and overlay styles for the masonry grid items */
